@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Quicksand", sans-serif;
}

.scanning-line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, transparent, #0058be, transparent);
  animation: scan 2.5s infinite linear;
}

@keyframes scan {
  0% { top: 0; }
  50% { top: 100%; }
  100% { top: 0; }
}
